[2013-12-03 04:05] Cooky-12 opened #1 "space cause fail"
if there is a space in filename, complete will fail ...
seems in line 608 of clang.vim:

let l:src = expand('%:p:.')

sorry for my broken english ><

[2013-12-27 05:47] yuquan23459 opened #2 "How to setting it in .vimrc?"
I have install it with 'vundle'.But I do not know how to setting it so that it can open diagnostics window and popup completions and open preview window?

[2013-12-27 05:57] yuquan23459 opened #3 "Can add "go to definition" and "go to declaration " ?"
It is code completion is very good.But I think if not add "go to definition" and  "go to declaration" function in vim-clang.If it has, I think it is better!

[2014-01-07 16:02] #1 closed, assigned to nobody

[2014-01-28 20:21] lboecker opened #5 "Error in DeleteAfterReadTmps"
Here's the error message:

[code]

The file doesn't exists. Looks like it might be the last file in the list (the filename is always `6`).

I'm using the plugin on a Mac.

[2014-01-29 14:28] wookayin opened #8 "Completion is filled up unwantedly"
The plugin version: 0.2.2 (current devel)

When typing a dot after some token, the omni-completion popup is opened automatically,
but the first candidate in the completion is also automatically filled up.

For example, when typing `std::`, `std::__1` is typed automatically just after the last ':' is pressed.

This is not a wanted behavior, and different from the animated demonstration (on  README)

[2014-03-11 19:11] JVApen opened #11 "Autofill include files"
This might be a feature request;
though I would like to autocomplete things like

#include "path/to/a/headerfile.h"

Is there a way of doing this, and autofilling files as long as they match with what it finds at disk?

[2014-08-02 20:16] morganrallen opened #14 "Failing to create temp file"
Error detected while processing function <SNR>40_ClangCompleteInit..<SNR>40_DiscoverIncludeDirs:
line    3:
E484: Can't open file /tmp/vpIUr0z/0

I think I had a run or two that didn't throw the error and worked like normal. But this is the typical error on startup.

[2014-08-03 02:24] #5 closed, assigned to nobody

[2014-08-03 02:24] #2 closed, assigned to nobody

[2014-08-03 02:26] #8 closed, assigned to nobody

[2014-08-03 05:24] #14 closed, assigned to nobody

[2014-08-23 05:09] xcodebuild opened #15 "Work with neocomplete"
`Another plugin set completefunc! Disabled neocomplete.`

How to work with neocomplete?

[2014-08-24 10:21] #15 closed, assigned to nobody

[2014-10-28 14:17] jreybert opened #16 "can't remove clang warning"
I am using clang 3.0 version.

For some reasons, clang does not like my stdio.h header file. Each time I want to complete something, I get this warning in the ClangDiagnostics buffer

[code]

I tried to add some options to through g:clang_c_options like "-w", but this warning still appears.

However, completion works fine!

[2014-10-31 06:44] thawk opened #22 "Auto fill include path from &path"
Normally, we will setup project include path in vim's &path. vim-clang should import &path just like clang_complete. It will make life easer.

[2014-10-31 10:42] #16 closed, assigned to nobody

[2014-10-31 10:43] #22 closed, assigned to nobody

[2015-02-16 04:46] guozhaohui opened #25 "Lost auto-completion in shell"
After installed clang.vim, when use :sh　switch to shell in vim. the command
auto-completion of shell was lost. the prompt of shell is only $, no any path info.

The version info. of my VIM is as followings.
VIM - Vi IMproved 7.4 (2013 Aug 10, compiled Jan  2 2014 19:39:32)
patch: 1-52
Modified by pkg-vim-maintainers@lists.alioth.debian.org
Compiled by buildd@

[2015-02-16 04:52] justmao945 commented on #25
I can't understand the problem, can you take some screenshots about this problem?
I try :sh in my vim, it works well.

[2015-02-16 05:24] guozhaohui commented on #25
I have found the answer.
in clang.vim ln.92
 let g:clang_sh_exec = 'sh'

sh command is different with bash on my PC, which does not support command auto-completion.

[2015-02-16 05:48] justmao945 commented on #25
`sh` will only be set when calling clang command, then stored after called automatically.
I am not sure why this configure has effect on `:sh`.

[2015-02-16 06:01] justmao945 commented on #25
Thank you @guozhaohui , I found a bug that won't restore global vars including `shell` when call the init function. Now fixed in master, please update and see whether the problem is still exist or not.

[2015-02-16 09:09] guozhaohui commented on #25
The newest version seems OK. Not only the shell command auto-completion, but also the Pmenu/PmenuSel　color config  work correctly now.

Thank you!

[2015-02-16 09:45] justmao945 commented on #25
OK. :laughing:

[2015-02-16 09:45] #25 closed

[2015-02-16 19:52] jonthn opened #26 "Support for JSON Compilation Database"
Hello,

I don't know if your plugin support this feature but that would be a great addition if that's not the case.
see http://clang.llvm.org/docs/JSONCompilationDatabase.html

Basically you store all the flags required to compile a C/C++ source file in a file 'compile_commands.json' so it's not needed anymore to explicitly add each flags and includes.

[2015-02-27 03:24] justmao945 commented on #26
Unsupported yet, I can't find the clang option to load this file 'compile_commands.json' in Clang 3.5.
It's a feature in clang tool and libclang, so it seems not easy to implement this only use the clang executable.

[2015-03-14 03:15] Werror opened #27 "OmniCompletion selection is broken"
Hi I am new to your script and love using it and it works fine until a few days ago I updated.
Basically when I type :: I do get the completion popup however when I want to select using up/down, the vim functionality is broken and I have no way of saving and continue the work.

Would you help me look at this problem?

[2015-03-14 09:06] justmao945 commented on #27
I fix a problem about 2 days ago, and it works well on my machine.
Please update your script to the master HEAD. Type std:: and select by Ctrl P/N or Up/Down arrow key are fine.

Or can you provide more info about the broken?

[2015-03-17 00:46] sim590 opened #28 "Annoying message complaint when changing buffer"
When the plugin is active (even if diagnostics are disabled using `let g:clang_diagsopt = ''`) and I try to change buffer using `:buffer <number>`, I get this message :
[code]

Since the variable may not have been set, I guess that a quick fix would be to change this [line](https://github.com/justmao945/vim-clang/blob/master/plugin/clang.vim#L398) to :
[code]

[2015-03-17 00:54] sim590 opened #29 "Plugin writes changes to the file on disk?"
First time I do `<c-x><c-o>`, after one of the valid symbols (`::`,`.`,`->`), and then undo changes **I've done** using `u` in vim, I notice that the file has been wrote. In fact, I can do `:e!` and I see that the file on the disk has been wrote just after I've pressed `<c-x><c-o>`. Why does the plugin writes the file ? In my opinion, it shouldn't mess with writing my file on the disk if I don't w

[2015-03-17 02:32] justmao945 commented on #28
Yes, that's my mistake on branch master, I fixed this yesterday. Please pull the master.

[2015-03-17 02:38] justmao945 commented on #29
Yes, you are right, plugin will write file to disk before calling clang to parse this file. If you use :e!, that's the problem. Write to a tmp file before parsing may be another way to avoid this problem, but it may bring new problems...

[2015-03-17 02:51] sim590 commented on #28
One of the tab variable is checked, but not the other on 6da93f9 (https://github.com/justmao945/vim-clang/blob/master/plugin/clang.vim#L398). I think both of those variables have to be checked :
[code]

[2015-03-17 02:56] sim590 commented on #29
Why not just let the user save his file and use the file that's already on disk ? What if the user didn't want to write the changes on disk while just trying to complete some words ? I'm asking questions hoping it helps the project.

[2015-03-17 03:31] justmao945 commented on #29
Hi @sim590 , relax, I'm really very happy to ask your questions and to fix issue to improve this project. I think you missed the point in my previous answer. The reason why I must save file is that, the completion engine clang **must read the latest file** to produce correct completions. If I only use the file that's already on disk, clang will never get the right completion point and source code,

[2015-03-17 03:36] justmao945 commented on #28
OK, I'll add it

[2015-03-19 20:49] sim590 commented on #29
I'm sorry I didn't mean to create a misunderstanding; I'm convinced that you are opened to cricits and that we can discuss! I see your point. I think that using a *tmp* file would be more appropriate for the reasons I've said before. I'll put this feature into a TODO list and I'll make a pull request eventually. I can't promise for the meantime though since I'm having lots of work to do at Univers

[2015-03-20 02:11] justmao945 commented on #29
Haha, that's great! Please feel relax to do this feature~

Some important points should be considered:
1. where to place the  tmp file
2. if the tmp file is not in the same dir with the source file, add current dir to include path
3. should replace the path and file name occurred in diagnostics window

[2015-03-20 05:30] #28 closed

[2015-03-30 19:47] syswow opened #30 "add 'Command' to show autocomplete list"
so we can map this command to 'space+ctrl'.

[2015-03-30 20:04] syswow opened #31 "show and update diagnostics and autocomplete list when 'delete' char."

[2015-03-30 20:13] syswow opened #32 "close preview window for c++"

[2015-03-31 02:07] justmao945 commented on #30
Do you mean Ctrl+x then Ctrl+o ?  You can map `<C-X><C-O>` to `space+ctrl`.

e.g.
[code]

For more details to see `:h i_CTRL_X-CTRL_O`.

[2015-03-31 02:09] justmao945 commented on #32
Please add
[code]

to `.vimrc`

[2015-03-31 02:12] justmao945 commented on #31
This feature need to study and try. You are still during the completing and managed by the omni system when you delete chars.

[2015-03-31 05:40] syswow commented on #32
Thank you!

[2015-03-31 05:40] #32 closed

[2015-03-31 22:47] syswow commented on #30
Thanks

[2015-03-31 22:47] #30 closed

[2015-03-31 22:50] syswow opened #33 "press 'TAB' key to cycle through autocomplete list."

[2015-03-31 22:57] syswow opened #34 "press 'key' to force show diagnostics window ?"

[2015-04-01 02:07] justmao945 commented on #33
You can try this plugin [SuperTab][1], and add

[code]

to `.vimrc`

[1]: https://github.com/ervandew/supertab

[2015-04-01 02:12] justmao945 commented on #34
Eh, this should be a nice feature and it not difficult to do in current version, I'll do it when I have time.
Something I think can do:
1. add command(able to map to key) to run clang syntax check and show diagnostics window.
2. auto run syntax when user save file.

If you have time and are interesting in implementing this feature, you can have a try. :smile:

[2015-04-02 00:06] syswow commented on #33
@justmao945  It works, thank you very much.

[2015-04-02 00:06] #33 closed

[2015-04-04 04:06] syswow opened #36 "vim-clang doest work, when i run 'vim test_new.cpp', to create a new cpp file."

[2015-04-04 06:14] syswow commented on #34
@justmao945
Hi, I have try to implement this feature, it works both for vim and neovim

see https://github.com/syswow/nvim-clang/tree/add-diagnostics-windows-command

but it base on #35

Any advice is welcome. :smile:

[2015-04-04 06:21] justmao945 commented on #34
Thank you @syswow . Very great work. Please send me pull request, then I'll review and merge it.

[2015-04-04 06:37] justmao945 commented on #36
Yeah, I also found this problem.

[2015-04-04 06:43] syswow commented on #34
Wait, I find some bugs.... Need more work....

[2015-04-04 06:48] justmao945 commented on #36
Here's the problem, need to find a good solution, https://github.com/justmao945/vim-clang/commit/7150159ebff18c06ff6c8bc2f27323c966b5b71a

[2015-04-04 06:48] justmao945 commented on #34
It's OK. :smile:

[2015-04-04 14:48] syswow opened #37 "How to use stdafx.h with vim-clang?"
I have never used it before.  need help,

[2015-04-05 09:26] syswow opened #39 "move cursor to number, then press 'key' to compelete, vim-clang will throws errors."
[code]

[2015-04-05 09:31] syswow commented on #39
I have this `let g:clang_debug = 2` in my vimrc. :smiling_imp:

[2015-04-05 09:31] #39 closed

[2015-04-07 05:32] justmao945 commented on #37
I rarely use it. To use it, just include some C++ headers and type `:ClangGenPCHFromFile %` to generate the pre-compiled header.

[2015-04-07 08:23] justmao945 commented on #36
I think I fix this problem, please verify it. @syswow

[2015-04-07 09:47] syswow commented on #36
confirm fixed on Ubuntu. @justmao945

[2015-04-07 09:47] #36 closed

[2015-04-07 13:51] syswow opened #41 "[BUG] run ":e somefile" will quit vim"
Reproduce:
1. open file
2. wirte some syntax error lines, then do complete
3. show diag window
4. run ":e somefile"

[2015-04-07 14:00] syswow opened #42 "[BUG] Keeping Press 'TAB' scroll through complete-list will flash screen"
Reproduce:
1.  Install:
[code]

2 .   Write down short cpp
[code]

3  . Keeping press 'TAB; scroll throgh list, will flash screen.

[2015-04-08 04:18] syswow commented on #34
@justmao945  I thank before continue to implement this feature, we have to fix #41.  How do you see it?

[2015-04-08 14:42] justmao945 commented on #29
Hi @sim590 ,
I'd like to tell you, @mlen contribute a patch #43 to solve this problem just now. :smile:

[2015-04-08 16:59] syswow commented on #41
@justmao945 Need fix

[2015-04-08 23:51] justmao945 commented on #41
I know. but need time to do this. can you have a try? seems have problem when close diagnostic window

[2015-04-09 02:04] justmao945 commented on #34
Dose something i #41 blocks this feature ?

[2015-04-09 03:03] syswow commented on #34
yes, when the diag window show, we cannot change buffer.

[2015-04-09 03:16] justmao945 commented on #34
I don't understand why need to change buffer ?

[2015-04-09 03:23] syswow commented on #34
":e somefile" is basic operation.

[2015-04-09 03:36] justmao945 commented on #34
I know the problem, but what I want to say is that in fact you can implement this feature for saving file, e.g. `:w`.

[2015-04-09 09:48] justmao945 commented on #42
On my machine, screen flashes slightly... I don't know how to fix it, is this related to supertab ? I think this is caused by the GUI of GVIM, but I'm not sure if we can fix it or not.

[2015-04-09 10:08] syswow commented on #42
@justmao945  also, I find if the code is full window, then the screen flash just disapper...

[2015-04-09 13:37] justmao945 commented on #41
This bug is not easy to fix...I don't know `BufWinLeave` is triggered by `:q`, `:e` or any other commands...And I don't know if there's a good way to close diag window when its driver source buffer is unloaded..

Another question, seems
[code]
doesn't work in function diags window open.

[2015-04-10 02:11] justmao945 commented on #41
I'll disable the feature that close diag window when the source is unloaded automatically until we fix this issue.

[2015-04-30 14:57] syswow commented on #3
sublimeclang use libclang. It's no easy to use libclang...

[2015-05-01 02:30] #29 closed

[2015-05-01 02:31] #27 closed

[2015-05-01 02:32] #42 closed

[2015-05-01 03:47] sim590 commented on #29
Oh. That's great ! Thanks for telling !

[2015-05-04 09:52] #37 closed

[2015-05-04 09:52] justmao945 commented on #41
Fixed in latest commit.

[2015-05-04 09:52] #41 closed

[2015-05-04 09:53] justmao945 commented on #34
New command `ClangSyntaxCheck` is added

[2015-05-04 09:53] #34 closed

[2015-05-06 03:30] justmao945 commented on #11
Please use vim-clang with neocomplete, neocomplete provide include file completion.

[2015-05-06 03:30] #11 closed

[2015-05-18 03:29] Werror commented on #27
Hey Thank you for your information, I think after update it worked fine now :) again thanks a lot

[2015-05-18 03:40] justmao945 commented on #27
You are welcome :smile:

[2015-05-20 13:04] albertnetymk opened #50 "Fails when used with vim-fugitive for :Gdiff command"
Inside a git repo, starting with a file using vim, then `:Gd`, which should open two-column diff, but, instead, it fails with this msg:

[code]
I am using commit 0e47495aa . I thought #20 has taken care of that.

[2015-05-20 14:20] justmao945 commented on #50
OK, I made a dirty patch to disable vim-clang under `fugitive:///`.
You can try the latest version.
#20 also has problem, that prevents loading of vim-clang when creating new file.
e.g.
[code]

[2015-05-20 16:30] albertnetymk commented on #50
Thank you for the quick reply. With more testing, it lacks one essential feature in #3, so I can not use it until that features is arrived.

[2015-05-20 16:30] #50 closed

[2015-05-20 23:27] justmao945 commented on #50
Ah, this is a really nice feature, but I think it's hard to add, and is not in my plan.

[2015-05-23 06:51] syswow opened #53 "work with neocomplete"
在Windows 8.1下装了vim-clang和neocomplete，出现一个小问题。
输入`std::`， 就会自动补齐成`std::std`. 但当vim-clang运行完成，有cache之后，重新输入`std::`, 补齐就正常了。 :confused:

设置如下：
[code]

[2015-05-23 07:57] justmao945 commented on #53
I'm not familiar with neocomplete. A few days ago I also tried it, but can't work well with it. I had this issue when change `force_omni_input_patterns ` to `.*`, but I don't know how to make it work well with neocomplete. Another problems is the `longest` option, neocomplete can't work with it, but will always select the 1st item if is completed by vim-clang.

Any ideas ?

[2015-05-24 01:03] Shougo commented on #53
Hi, I'm neocomplete author.

You should not use the pattern.  It calls the omnifunc in every input pattern.

You should not use "longest" option in auto completion.
It conflicts with auto completion behavior.
You can use `neocomplete#complete_common_string()` mapping.

[2015-05-24 01:06] Shougo commented on #53
If you want to complete the 1st item, you should enable `g:neocomplete#enable_auto_select`.

[2015-05-24 02:31] justmao945 commented on #53
@Shougo
I'm glad to have your answer, the author of neocomplete. :smile:

The auto popup completion feature from neocomplete is very impressive, but I want use vim-clang to make a precise completion. So what should I do if I want to use clang to complete all things, including variables and types that don't start with `::`, `.` or `->` in pattern `[^.[:digit:] *\t]\%(\.\|->\)\w*\|\h\w*::\w*` ?

e.g

[2015-05-24 02:32] justmao945 commented on #53
@syswow
I'll have try with neocomplete on Windows

[2015-05-24 03:05] justmao945 commented on #53
I've tried on Windows 7 with this version of Vim https://github.com/Shougo/neocomplete.vim#vim-builds-for-windows.

I use same settings both on Windows and Mac OS X. I also have this issue.

[code]

[2015-05-24 03:13] justmao945 commented on #31
Seems useless ?

[2015-05-24 03:13] #31 closed

[2015-05-24 13:21] Shougo commented on #53
Yes, I think so too.  And it conflicts in auto completion plugin behavior.
So I posted the patch.

https://groups.google.com/forum/#!searchin/vim_dev/completeopt/vim_dev/tVsk0pdOGvs/fCzBbPkA4w0J

Hmmm..  It is strange.
I think you should use latest version of Vim.

[2015-05-24 14:13] mlen opened #54 "Support parameter highlight as in jedi-vim"
Jedi has this nice popup with the name of the current argument highlighted after opening parentheses.
![jedi-vim](https://github.com/davidhalter/jedi/raw/master/docs/_screenshots/screenshot_function.png)

I think it'd be nice to have this feature, especially that clang already prints out the types. I'll try to implement this as soon as I find free time.

[2015-05-25 12:37] justmao945 commented on #54
Ah ha, this is really a very nice feature, which is as smart as IDE. :+1:
I'm looking forward to your patch.

[2015-06-28 02:04] jralphur opened #57 "missing function prototype preview"
call pathogen#infect()                      " use pathogen
set backspace=indent,eol,start
let delimitMate_expand_cr=1
let g:clang_auto = 1
let g:clang_vim_exec = 'nvim'
let g:clang_cpp_options = '-std=c++11 -stdlib=libc++'
let g:clang_cpp_completeopt = 'longest,menuone,preview'
colorscheme molokai
" AUTOCOMPLETION
filetype plugin on
set cot+=menuone " Show preview of function prototype
syntax enab

[2015-06-28 06:02] justmao945 commented on #57
`let g:clang_cpp_completeopt = 'longest,menuone,preview'` makes prototype in the preview window, not the popup menu. Do you have a preview window on the top of VIM window ?

[2015-06-28 17:33] jralphur commented on #57
no preview menu showing up at all.

[2015-06-28 20:34] jralphur commented on #57
Seem I got prototypes showing up now by scrolling through the available completions.

[2015-06-28 20:34] #57 closed

[2015-07-07 01:54] mcchichen opened #59 "can't find include files"
it keeps saying fatal error, header file not found everytime I tried to do an autocompletion. however I have include the path in the .clang file(I tried both absolute path and relative path), and  I printed out the clang command used for completion and all the paths are included with -I option. The headers and sources are in subfolders of include/ and src/ . Any suggestions on how to make this wor

[2015-07-07 02:28] justmao945 commented on #59
1. Add `let g:clang_debug = 2` to .vimrc
2. start vim
3. type `:messages`
4. take a snapshot
5. you can type `tree` in your source directory and paste to comment.

[2015-07-09 20:13] #59 closed

[2015-07-10 09:45] beojan commented on #53
I have the same issue (autocompletes `std::std`) on Windows with vim 7.4.769

[2015-07-18 00:09] j5shi commented on #53
I have the same issue on Win7 Vim 7.4 with neocomplete, when force `omnifunc` to `ClangComplete` it always selects the first candidate, even though I set

`let g:neocomplete#enable_auto_select  = 0`

Anyone knows how to deal with it?

[2015-07-18 06:16] Shougo commented on #53
@j5shi Please describe your Vim version.
Please upload your .vimrc configuration.

[2015-07-18 06:17] Shougo commented on #53
@j5shi You should update your Vim to 7.4.775 or above.

[2015-07-18 09:39] beojan commented on #53
I've done this, and now get no completions from vim-clang at all

[2015-07-18 13:38] j5shi commented on #53
I don't know the minor version of my Vim

[code]

Partial of my `_vimrc`

[code]

And unfortunately I can't find my configuration of vim-clang because of this nasty auto-select-first-candidate issue, I changed to clang-complete this aftertoon and deleted the configuration...

[2015-07-18 13:45] j5shi commented on #53
Luckily, I found it in my recycle bin.

[code]

[2015-07-19 01:39] Shougo commented on #53
[code]

[2015-07-22 00:20] j5shi commented on #53
@Shougo: Thank you :-]    that works now!

[2015-07-23 09:34] Shougo commented on #53
This issue should be closed.

[2015-07-23 09:41] beojan commented on #53
No, as I noted above, after updating vim, I no longer get any completions
from vim-clang

Sincerely,
Beojan Stanislaus
On Jul 23, 2015 10:34 AM, "Shougo" <notifications@github.com> wrote:

[2015-07-23 10:07] Shougo commented on #53
Did you disable clang auto completion feature?

Please upload minimal .vimrc less than 50 lines and reproduce ways from Vim starting.
The omni completion is works?
If the omni completion does not work, it is another problem.

[2015-08-12 00:09] varung opened #60 "how to trigger compilation (without hitting . or ->) so I can see errors ideally in gutter?"
I'd like a shortcut (or maybe it does it in the background) that runs compilation and shows me errors so I don't have to type make and stop coding.

[2015-08-12 01:54] justmao945 commented on #60
You can use command `ClangSyntaxCheck`  to do syntax check. Automatically error check in background is unsupported yet.

[2015-08-18 10:29] codeinabox opened #63 "Undefined variable: g:clang_diagsopt"
I just updated my plug-ins and I am getting this error on start up

line   38:
E121: Undefined variable: g:clang_diagsopt
E15: Invalid expression: g:clang_diagsopt !~# '^[a-z]\+\(:[0-9]\)\?$'

[2015-08-18 10:41] #63 closed

[2015-08-18 10:42] justmao945 commented on #63
Please confirm it, thank you~ :smile:

[2015-08-18 10:45] justmao945 commented on #26
@jonthn
Hi, this feature was added by @c0r73x , so you can update to the latest version if you want to have a try.

[2015-08-18 10:45] codeinabox commented on #63
:+1 Error is gone after an update

[2015-08-18 10:56] justmao945 commented on #63
OK, thank you.

[2015-08-18 18:47] jonthn commented on #26
@justmao945 thanks for the "heads up", I'll give it a try soon.

[2015-09-04 08:11] yvesdm3000 opened #65 "Issue when quitting"
Hello,

I have an issue when I want to quit vim. Saving is no problem, but when I do a simple ":q" then the following error appears, after which I can't really quit except by ":q!" which is annoying:

~
~

Clang version: clang version 3.1 (branches/release_31 246765)
Vim version: VIM - Vi IMproved 7.3 (2010 Aug 15, compiled Dec 12 2012 13:35:10)

[2015-09-06 15:38] justmao945 commented on #65
Please update vim-clang to the lastest version, and have a try. This was  a bug in older version of vim-clang. I can't reproduce it with the latest version, thank you.

[2015-09-06 15:40] #26 closed

[2015-10-25 08:40] agauniyal opened #69 "Parameter Completion?"

[2015-10-28 08:52] DaSea opened #73 "Set complete preview buffer position"
How to set preview  buffer position to below?

[2015-10-28 11:42] justmao945 commented on #73
I don't know how to set the position preview buffer, which is provided by Vim. Seems can only be opened above current window.

[2015-10-28 13:11] Shougo commented on #73
@DaSea You can use `splitbelow` option for it.
The default position is above.
It is Vim's feature.

[code]

[2015-10-28 14:19] DaSea commented on #73
Thanks @Shougo , this is a global setting, and  i set it ,and open preview buffer in below!

[2015-10-28 14:19] #73 closed

[2015-10-30 10:02] c0r73x opened #75 "neomake?"
The last commit breaks vim-clang for me.

Vim(let):E117: Unknown function: neomake#makers#ft#cpp#clang

From what I understand this is some sort of neovim function? Did you drop vim support?

[2015-10-30 10:14] justmao945 commented on #75
Sorry for that.
@minijackson can you give a fix ?

[2015-10-30 10:18] minijackson commented on #75
I'm on it.

[2015-10-30 11:08] minijackson commented on #75
@c0r73x This function is from the Neomake plugin (https://github.com/benekastah/neomake) which is basically an asynchronous Syntastic for neovim. I just forgot to check if the function existed before using it, my bad.

[2015-10-30 11:23] c0r73x commented on #75
No problem, it just surprised me :p

[2015-10-30 11:32] #75 closed

[2015-11-14 17:12] xiongm opened #77 "ClangSyntaxCheck when clang_diagsopt is disabled"
i don't want diagnostics window to popup everytime vim-clang attempts a code completion,  so i set

let g:clang_diagsopt=''

this gives me what i want

but the problem is looks like this setting will also keep you from using ClangSyntaxCheck when needed.

What i want is an option to disable the diagnostic window by default, but if i want to manually check syntax, the diagnostic window will popup.

[2015-11-25 10:24] julj opened #78 "Disable auto syntax check"
I tried to disable auto syntax check by adding

`let g:clang_check_syntax_auto=0`

to my .vimrc file, but it has no effect, the ClangDiagnostics window still popup on autocompletion.

Is there any other option to set?

[2015-12-01 06:05] yvesdm3000 commented on #65
With latest file I still get

    E315: ml_get: invalid lnum

for every line in the file... We have sourcecode files with more than 10000 lines in it, and with this version, even ':q!' doesn't work, I go to another shell and kill vim ...

[2015-12-02 14:11] julj commented on #78
Ok, I also had to set

`let g:clang_diagsopt = ''`

[2015-12-02 14:11] #78 closed

[2015-12-04 03:03] agauniyal commented on #69
Not active?

[2015-12-04 05:46] 20115681 commented on #69
Try https://github.com/20115681/vim-chint

[2015-12-23 19:50] vakosel opened #79 "Help with windows"
Hi ! I havem't managed to make it worki with windows . In my linux os everything is ok .
Same .vimrc  I have set debug 3 and i can see that is loading all include files plus what exists in the llvm/include folder plus the path includes from VS 2013.No errors
In my .clang file i used various escape configuration. I want ot use the microsoft sdk for windows programming.
I use -I "C:\Program FIles (x

[2015-12-30 13:20] htfy96 opened #80 "E16: Invalid range: 2 wincmd w"
I'm using vim-clang with deoplete in neovim. Occasionally pressing `.` in `<an_entity_has_not_been_completed>.` will cause the following Error:
[code]

[2015-12-30 13:33] htfy96 commented on #80
I found a related issue: https://groups.google.com/forum/#!topic/vim_dev/KE3h0THwizc

[2015-12-31 11:26] htfy96 opened #81 "Add support for `kind` option in omnifunc"
Hi, I implemented a basic pattern-matching method to determine the type of a candidate:
[code]
I know this could be far from perfect, but it seems to produce better results than expected when try it with `std::` prefix.

[2016-01-06 15:33] htfy96 commented on #81
A pull request (8c23cf6) has been submitted.

[2016-01-08 07:58] #81 closed

[2016-01-11 11:37] makiolo commented on #3
Check funtion clang_getExpansionLocation:

http://clang.llvm.org/doxygen/group__CINDEX__LOCATIONS.html#gadee4bea0fa34550663e869f48550eb1f

This seems possible.

[2016-02-25 09:12] hardboydu opened #85 "How Can add "index cache"?"
Each time when I run "complete", it will pause a few seconds

我用中文再说一遍吧，我英文太烂了，说不清楚
打开一个cpp文件，class1-> 会停顿几秒钟，然后第二次运行 class1-> 就会很快，但把文件关闭再打开，运行class1-> 还是会停顿几秒

非常感谢你能写出这么好的插件

[2016-02-25 10:02] justmao945 commented on #85
:smile:  可以试试大神写的 ycm，现在这个插件不太好加这个『复杂』的特性

[2016-02-26 01:23] hardboydu commented on #85
我们公司的生产环境太旧的，RHEL6.3，YCM和clang_complete依赖的东西太多了，升级我们的环境风险太高，太麻烦，好不容易碰到一个依赖较少的，呵呵

[2016-02-26 02:18] justmao945 commented on #85
嗯，那是比较麻烦，可以试试 async 模式，不会卡住吧，不过也不会加速。。。速度就那样。。假如有很多C++ 头文件或者可以试试预编译头文件，这个可以加速

[2016-02-26 09:22] hardboydu opened #86 "About PCH error"
PCH file is gen succeed，but use this PCH is error

error: PCH file was compiled for the target CPU '' but the current translation unit is being compiled for target 'x86-64'

[2016-03-27 15:29] sighingnow opened #91 "Support specific parameters in g:clang_format_style"
Improve the `ClangFormat` function to support specific paramters in `"g:clang_format_style"`. Here is a example style configuration for this proposal:

[code]

But this configuration isn't supported now !

[2016-04-06 01:55] jsfaint commented on #69
For parameter completion, you can use [echodoc.vim](https://github.com/Shougo/echodoc.vim) instead.

[2016-04-16 04:48] #69 closed

[2016-04-26 09:00] adam900710 opened #93 "Will vim-clang supports things like jump to definition and snippets?"
vim-clang works quite good so far, it fixes bug like screwing up terminal, but I still miss the jump-to-definition and snippets function from vim-clang-complete.

Any idea if it will be supported?

Thanks

[2016-04-27 16:57] justmao945 commented on #93
Any idea to use the clang executable to find definitions ?
If we must use libclang, it is not easy to integrate. Or may have a nice libclang daemon ? Something like gocode.
I have no time to do this feature...

[2016-05-19 06:33] Pinaki82 opened #94 "Function Parameter Complete and Parameter Hint"
Sir,
This is one of the best vim plugin I have ever worked with, along with syntastic.
No doubt in it. It does a perfect completion even better that visual studio's
intellisense. It produces a nice completion even when I include headers
and not save the file.
Clang is wonderful so is vim_clang. No chance to ctags to survive today except
jump to definition, go to declaration etc., just because vim

[2016-05-19 12:13] Pinaki82 opened #95 "Using LLVM-3.8.0-win64.exe with vim_clang"
The binary distribution of llvm 3.8 is built with MS VC++ and it targets VC++ by default.
This is a problem for the llvm users from the past who used TDM or other MinGWw64 binary along with
vim_clang+clang. Without configuring this new setup will cause several errors. The is a workaround though.
I got it from google.
Google: configure clang 3.8 for mingw
LLVM 3.8.0 clang binary for Windows targets

[2016-05-19 14:23] justmao945 commented on #95
Thank you @Pinaki82 for your information. 😄
Eh,,, can we make a nice patch ?..

[2016-05-19 14:35] justmao945 commented on #94
Haha, the first one wrote such a long issue 😄

The first feature is not hard to implement... There are a lot of plugins also have this nice feature..
The second feature can also be implemented by the code completion feature provided by clang... Just list  all candidates that completed after the function name...

Eh,,, but seems still have a lot of work to do... I'm not sure I have enough time..

[2016-05-19 16:07] Pinaki82 commented on #95
We can pass an option to the compilation flags specified by the user.
Like:
let g:clang_380_win = -target x86_64-pc-windows-gnu
or,
let g:clang_380_mingww64 = 1, and redirect this to clang as -target x86_64-pc-windows-gnu flag.
This way it can be fixed.

[2016-05-19 16:19] Pinaki82 commented on #94
If we can include these two features that will be a hot thing in our plugin. Nobody will ever touch other clang completion plugin, they will get everything here.
Also, plugins by Ming Bai uses ctags.exe internally and requires a tags database to be updated frequently, and I just want to get rid of any ctags usage other that Ctrl+] and Ctrl+T that vim needs. Beside vim, I just don't want any plugin

[2016-08-17 10:33] jsfaint opened #97 "vim-clang not work with split window"
When edit code with split window(same file), press `<c-x><c-o>` or press `.` to complete member in struct.
vim-clang will change the cursor window
![vim-clang1](https://cloud.githubusercontent.com/assets/571829/17733268/6067a142-64a8-11e6-9df2-49aac8d1e62d.gif)

And this message will show in `:message`
![change](https://cloud.githubusercontent.com/assets/571829/17733213/18d944b6-64a8-11e6-9ccc-0f5

[2016-08-17 15:28] justmao945 commented on #97
It's buggy when split with the **same** buffer...Seems a bug of VIM.

[2016-08-18 00:07] jsfaint commented on #97
But for other plugin like jedi-vim/neocomplete, I can't reproduce this issue. 😢

[2016-08-26 21:06] fsworld009 opened #99 "Cannot run clang properly when there is a space in clang path under Windows 7 x64"
Hi:

I'm using neovim-qt under WIndows 7 x64

When I invoke vim-clang auto completion I get this error:
``
clang.exe: error: no such file or directory: 'Files\LLVM\bin\..\lib\clang\4.0.0\include"'
``
I installed LLVM under `C:\Program Files\LLVM\` , I think the space in "Program Files" is the cause.

If I put LLVM under C:\ then it works fine.

I can run neomake with clang, I also tried to compile

[2016-08-29 10:19] Misfit-John opened #100 "Can get complete when typing 'this.' inside class functions"
I can't get any complete when I type this. inside a cpp class, but if I specify some prefix, the list pop out. Also if I create a new object of that class, I can get list.

Can you tell me know to trobule shot on this issue ?  i remember clang-complete uses clang's complete option to make the list, how is your command? Maybe I can help if you can't reproduce it locally .

[2016-08-30 00:58] Misfit-John commented on #100
My bad, writing too long for golang makes me forget that I should use this-> in c .

[2016-08-30 00:58] #100 closed

[2016-08-30 02:09] justmao945 commented on #100
😄 haha. I'm writing golang as well.

[2016-09-18 01:40] jsfaint commented on #97
This issue was fixed in recently vim. close it 😄
Thanks for reply

[2016-09-18 01:40] #97 closed

[2016-09-22 14:16] #91 closed

[2016-10-17 15:47] yutakatay commented on #3
These plugin will probably be a good reference for this isssue :smiley:
https://github.com/libclang-vim/libclang-vim
https://github.com/osyo-manga/vim-snowdrop

[2016-11-03 15:36] dutchgecko opened #104 "Don't autofill first entry when autocompleting with neocomplete"
Hi,

I'm having some issues getting my configuration set up. At the moment it looks like this:

[code]

When triggering the autocompletion, for example by typing `std::`, the first entry in the menu is automatically entered into the buffer (for example, `std::advance`). I would like for this not to occur.

I have tried the following additional settings, without success:

- `let g:lang_cpp_complete

[2016-11-04 01:07] Shougo commented on #104
[code]

[2016-11-04 15:36] dutchgecko commented on #104
Thank you, that works.

Is that option documented anywhere? I couldn't find it in the help file.

[2016-11-04 15:52] #104 closed

[2016-11-16 15:07] Pinaki82 opened #105 "Issues with LLVM-3.9.0-win64.exe with vim_clang"
Today I downloaded Clang 3.9.0 just to discover something new and no wonder I got a very strange issue with this clang version as I'm always used to get issues and find a fix with every new clang release.

==================================

C:\Users\xxxxuname>clang --version
clang version 3.9.0 (branches/release_39)
Target: x86_64-pc-windows-msvc
Thread model: posix
InstalledDir: C:\Program Files

[2016-11-30 10:41] fedor-elizarov opened #106 "How to get to me autocomplit of include files?"
for example
`#include <SDL2/SDL.h>

void main(void)
{
      SDL_ //and here I am waiting pop-up witch complete SDL_Init(Uint32)
                //but me need <c-x> <c-o> to get this ((
                //and I want to be automatically
}
`
P.S. sorry for my English

[2016-11-30 10:46] fedor-elizarov commented on #106
and my vimrc  this https://gist.github.com/fedor-elizarov/c706f08c0597c8ca1fc6d6d4faeed532

[2016-12-02 12:09] krsch opened #108 "How to reload `.clang`?"
Is it possible to reload `.clang`? I don't like restarting gvim after finding out that I have forgot one `-I` flag in `.clang`.

[2016-12-02 14:04] justmao945 commented on #106
I can't understand for what you want to get.
get (( ?

[2016-12-02 14:07] justmao945 commented on #108
Yes, you can run `: ClangCompleteInit`

https://github.com/justmao945/vim-clang/blob/master/plugin/clang.vim#L1057

[2016-12-02 15:47] fedor-elizarov commented on #106
oh sorry, my english is very bad ((
I decided my problem -> vim-clang + neocomplete
the question is closed, thanks ::)

[2016-12-02 15:53] justmao945 commented on #106
OK. 😄

[2016-12-07 12:11] krsch commented on #108
Thanks, it works!

[2016-12-07 12:11] #108 closed

[2016-12-14 11:03] #106 closed

[2017-02-16 12:59] gdmsl opened #109 "Feature Request: Support Neomake ClangTidy maker"
It is possible to add support for updating the options of the clangtidy maker (Neomake) according to the ".clang" configuration file as it is done for the gcc and clang maker? I tried to do it myself but currently my knowledge of vimscript is not enough.

Many thanks for your work.

[2017-02-20 04:08] crr0004 commented on #93
There are [bindings to python](https://github.com/llvm-mirror/clang/tree/master/bindings/python) which could probably be used. I'm looking at it at the moment.

[2017-04-21 12:26] johnzeng opened #110 "can't work with -DTEST()="hello""
set up a `.clang` file with the following content:

[code]

and then you will get error because you didn't escape `()` in the command....

[2017-04-21 16:04] justmao945 commented on #110
-D 'TEST(A)="hello"'

[2017-04-22 01:31] johnzeng commented on #110
I don't think this is a good enough solution for a plugin... but ... this plugin is just passing parameters to a shell so I think there is no such thing called 'perfect solution' so I give up. Do you mind to update the readme file to let other people knows this inconvenient?

[2017-05-11 17:15] prabirshrestha opened #111 "support async completion api"
I would like to write a clang autocomplete source for [asyncomplete.vim](https://github.com/prabirshrestha/asyncomplete.vim)

Would it be possible to have an api that looks something like this.

[code]

`ClangGetCompletionItemsAsync` should take a callback parameter and return `candidates` and `startcol` from where the cursor is. `candidates` contains list of completion items and `startcol` is whe

[2017-05-19 04:21] shahratin opened #112 "Cannot disable ClangDiagnostics"
Either implement linting like syntastic or
a way to disable Diagnostics winodw without disabling Function prototype window.

[2017-05-19 08:03] justmao945 commented on #112
Please try https://github.com/justmao945/vim-clang/blob/master/doc/clang.txt#L108

[2017-05-19 11:16] #112 closed

[2017-10-18 19:30] unphased commented on #104
The config doesn't work because it resolves the first item getting filled in (and subsequent typing not able to change it), but now the behavior becomes, the first result (which is almost always right) is never filled in, so i have to press Tab and Shift+Tab just to get it to fill the first result...

[2017-10-18 23:22] Shougo commented on #104
@unphased You can press `<CR>` or `<C-y>` to insert the first candidate.

[2017-11-30 02:46] justmao945 opened #113 "Windows has smaller args limit to system(...)?"

[2018-01-12 10:46] markand opened #114 "Menu not opening with gvim"
Hello,

Thank you for this awesome plugin!

This plugin works pretty fine on my Fedora 27 if I use vim in terminal. However, in gvim, typing ^X^O to complete a symbol does not open any completion menu. I just see the prompt changing from completion mode and back to insert immediately.

    -- ^X mode (...)
    -- INSERT --

Do you know why it does not work with gvim?

[2018-01-12 20:47] syswow commented on #114
Hi @markand ,

Thank you for taking the time to report this problem!

The diff posted below works as expected on my Fedora 27 VBox.

[code]

[2018-01-15 03:09] justmao945 commented on #114
So what's the real problem ? can't execute vim ?

[2018-01-15 10:32] markand commented on #114
Thanks @syswow, it works well. @justmao945 would you mind committing this? As explained in my initial message. The plugin does not popup the menu when trying to complete in gvim.

[2018-01-15 13:04] justmao945 commented on #114
@syswow Can you make a pull request for your patch ?

[2018-01-16 01:51] syswow commented on #114
@justmao945 OK

[2018-01-21 16:23] bergercookie opened #116 "Use of compile_commands.json doesn't support python3"
The `python << endpython` expression [here](https://github.com/justmao945/vim-clang/blob/master/plugin/clang.vim#L900) doesn't support python3.

A potential way of generalizing to support either version, would be [this](https://vi.stackexchange.com/a/10926/6972)

Cheers,

[2018-01-22 04:23] #114 closed

[2018-01-22 04:30] justmao945 commented on #116
Do you mind to create a pull request for it? Thank you.

[2018-01-22 04:32] justmao945 commented on #116
#83

[2018-01-22 09:25] bergercookie commented on #116
I can try.. :-)

I'll let you know if/when I have this ready!

Cheers,
Nikos

[2018-02-15 21:44] mckellyln opened #117 "buffer/window name/type for autocomplete"
Hi,
Thx for vim-clang.
When I use autocomplete I get a new window at the top -
Q: does this buffer have a name/type I can use to help with its statusline editting ?
Q: Is there a way to close this automatically after the autocomplete is finished ?

[2018-02-16 01:34] Shougo commented on #117
https://github.com/Shougo/echodoc.vim

[code]

[2018-02-16 14:42] mckellyln commented on #117
Thx so much,
[code]
works great.
I will also look into the echodoc.vim plugin.

[2018-02-16 14:42] #117 closed

[2018-03-14 18:42] unphased commented on #60
i use ALE for clang/clangtidy/gcc to be run for linting to highlight errors. That can also work asynchronously as well as live while editing. May consume a lot of CPU though.

[2018-04-08 00:57] akiyosi opened #119 "vim-clang causes commit string of input-method become incorrect"
Hi, I use vim-clang with neovim and I use Input-method to input japanese text.

In neovim which plugged in vim-clang, I found a problem that the first commit string which determined by japanese input-method after neovim startup becomes incorrect. However, the second commit strings are correct. Removing vim-clang will not reproduce the problem.

[2018-07-07 16:35] DougBeney opened #122 "Gutter icon or highlight line where error is present?"
First of all, thank you for making this plugin. So great to switch away from YCM. Whenever I create a new project now that utilizes another library, all I have to do is create a .clang file and run `read !pkg-config [my args]` and all of the flags will be set. Super easy. I do appreciate the compile_commands support too.

I'm wondering if there is any way to display errors inline. By that I either

[2018-07-09 03:07] justmao945 commented on #122
Sorry for that I have not enough time to add this feature, so it would be appreciated if anyone could do it.

[2018-07-09 15:31] DougBeney commented on #122
Completely understand. Should I keep this issue open in case someone sees it and wants to implement the feature?

[2018-07-10 02:59] justmao945 commented on #122
It's OK to keep it open. haha

[2018-07-21 11:57] shuber2 commented on #116
Pull request #123 solves this issue by selecting the python infrastructure as in deoplete.

[2018-07-21 12:35] bergercookie commented on #116
:+1:

[2018-07-21 12:35] #116 closed

[2018-09-24 21:57] Mohammed-Hussien opened #127 "cant get executed clang"

[2018-09-24 21:58] #127 closed

[2018-09-24 22:01] Mohammed-Hussien opened #128 "i cant get executable clang"
iam new in using vim plugins.i want to know how to get clang executed ?

[2018-10-27 08:22] lochoang75 opened #129 "bash: clang.exe command not found"
I used linux mint with clang 6.0 but i has this problem. how can i fix it ? Thank you.

[2018-10-28 09:46] justmao945 commented on #129
use clang. clang.exe is for Windows

[2018-10-28 12:15] lochoang75 commented on #129
yes, I use vim on linux terminal, but when i open vim it happen. I have installed and tested some file with my clang.

[2018-10-31 10:12] deltaxflux commented on #129
You have to install clang.

[2018-11-14 11:37] justmao945 opened #130 "Use clangd to complete"
https://github.com/llvm-mirror/clang-tools-extra/tree/master/clangd

[2018-11-27 08:34] sprainbrains commented on #79
I found solution.
Using "\\" for your path. For Exaple:

`
-I"C:\\Program FIles (x86)\\Micorsoft SDKs\\Windows\\7.1A"
`

[2019-02-06 22:56] niva-xx opened #131 "vim-clang fails on windows' path"
Hi,

Under Windows 10,  clang fails on space in included path.
vim-clang help tells to be aware of shellescape but without detailling what to set or configure to solve these kind of issue.

In clang, i've not found any option to fix that seems to be automatically included path ''C:\Program Files (x86)\" by clang.

If you can help,
Thank you in advance

Messages maintainer: Bram Moolenaar <Bram@vim

[2019-03-12 18:37] Clebersonc opened #132 "Don't work on native package manager"
When I put the plugin in start folde work fine, when I put in opt folder to load with packadd don't work... why?

[2019-05-29 11:16] sebbekarlsson opened #133 "Cant type anything except for what comes up as suggestions"
So when installing this plugin, I cannot write things freely anymore. I can only choose from suggestions.

[2019-10-03 04:01] MaskRay commented on #93
The Python binding wraps libclang APIs:

* `clang_codeCompleteAt`
* declaration (if the definition is in another translation unit) or definition: `clang_getCursorDefinition`

[2019-12-05 14:27] themightyoarfish commented on #133
For me it is overwriting/removing characters as I type, maybe the same problem. Plugin does not seem to work with neovim.

[2020-02-25 09:30] vojtechj opened #135 "Using mingw headers on windows"
Hi, can you please help me, how should I setup vim-clang on windows?

I am using mingw for compiling and if I set: g:clang_include_sysheaders_from_gcc to true, then clang is called with target x86_64-pc-linux-gnu and not target x86_64-pc-windows-gnu.

Thank you

[2020-02-25 16:50] vojtechj commented on #135
I fixed it with: let g:clang_cpp_options = '-target x86_64-pc-windows-gnu'

[2020-04-18 09:16] amir28 opened #136 "-include not work in .clang"
Hello, First of all l have to appreciate all contributes who working on this project.
I'm working on a project that written in c and GTK library. so I need to add extra option to the compiler that I use. according the [this link](gcc `pkg-config --cflags gtk+-3.0` -o example-1 example-1.c `pkg-config --libs gtk+-3.0`) I have to compile my code by:
[code]
so I think to get completion in vim-clang m

[2020-09-20 06:56] smekkley commented on #136
I can't give you a solution but for relative path, I'd do, #include "config.h", include the whole directory. At least that's what most people do.

[2020-09-20 06:58] smekkley commented on #132
I haven't looked thoroughly yet, It seems to rely on plugin path. I guess it's not following the vim plugin conventions, which I'm also not so familiar with.

[2020-09-20 07:10] smekkley commented on #3
If you see Readme, this plugin doesn't use libclang on purpose.
Ctags works more or less, it gets messy for cpp overloaded craps, but a good lightweight solution.
Indeed, it'd be a nice feature, but even Clion doesn't sometimes get this right.
Not entirely related, but for finding usages, you need cscope as well, so mixing plugins are inevitable in many cases.

So I suggest closing this issue, als

[2020-09-20 07:12] amir28 commented on #136
Yes, for workaround I can include whole ../ directory but I just wanted report this bug to I have done something for this project :)

[2020-09-20 07:34] smekkley commented on #111
I'm wondering if #130 helps this issue nicely.
So far, I don't find it a big issue that clang call is blocking though, it seems fast enough. If clangd implementation makes it even faster with blocking mode, for me it'd be even more awesome than having asynchronous mode.

[2020-09-20 10:23] smekkley commented on #136
I've never seen a project that does include by file in gcc and then include as <> instead of "". I'm curious what the project is, if it's opensource.
I've seen normal include like `#include "../config.h"`, no include needed from the compiler.

[2020-09-20 10:37] amir28 commented on #136
I never seen a project use "" instead of <> :-)
an example is mate-panel https://github.com/mate-desktop/mate-panel/blob/master/mate-panel/panel.c

[2020-09-20 10:55] smekkley commented on #136
What I meant was to use <> AND include files when it's not in include path and add it in gcc.

haha. last commit seem to did that, very strange indeed.

[2021-02-19 17:03] Pinaki82 opened #142 "Not working with gVim 8.2.2529"
This is one of the vital plugins I always install when I install Vim. It worked fine until I tried [gVim 8.2.2529](https://github.com/vim/vim-win32-installer/releases). Got the following error while trying to autocomplete a line of a C code. Please fix the issue since without this plugin I can't imagine working with Vim at all. Thanks in advance!

![2021-02-19 22_21_16-crsh c + (Q__codes_crashtst)

[2021-02-19 18:23] mckellygit commented on #142
Look at pull request https://github.com/justmao945/vim-clang/pull/140
It is my first attempt at fixing this issue.

[2021-02-19 19:10] Pinaki82 commented on #142
Works like a charm, except for one problem:  First, a warning is displayed, then it starts working without producing any error message at all. It's probably due to an abrupt change pushed by the Vim devs that introduced the bug. Could we report the same to their (I mean, [Vim Win32](https://github.com/vim/vim-win32-installer.git)]) repo instead of trying hard to fix it here? Just asking!  @justmao

[2021-02-19 19:58] mckellygit commented on #142
ok, maybe I can fix those.  Let me look.

[2021-02-19 20:20] Pinaki82 commented on #142
So many thanks for your assurance! I hope that the problem will be fixed soon with your ardent efforts. Meanwhile, could we not report the issue to the Vim developers? If it is a bug in the latest version of Vim, it should be fixed internally. If window resizing is withdrawn from the latest version of Vim, it's abrupt as it would break so many plugins, hence must not be incorporated into the next

[2021-02-19 20:32] mckellygit commented on #142
I pushed an update to my PR.  See if that fixes the errors you see at start.
I did bring this up in the vim dev group.  They just said that changing windows from a complete func is not allowed anymore.
So I decided to change the plugin to not do that.  I am not a vim script expert by any means so I am sure there is a better way than this, but its my quick attempt at resolving it.
I will work on it

[2021-02-19 21:10] Pinaki82 commented on #142
Amazing!! Didn't expect that the fix would come so early! I cloned it from your personal repo  https://github.com/mckellygit/vim-clang.git using vim-plug. Everything worked as if I was running a sharp knife through butter. Let the issue not closed until @justmao945 merges it to the master branch. Yes, NVim will work fine. But I'm not sure why Vim developers decided to take a strong stance on disal

[2021-02-19 23:12] mckellygit commented on #142
Just an fyi - I pushed one minor update - should be the same just cleaner code.

[2021-02-20 06:23] Pinaki82 commented on #142
Worked perfectly as expected. A new problem cropped up while updating the plugin which I solved by deleting the plugin folder from the 'vim-plug' directory 'plugged/vim-clang'. Much cleaner and understandable code that works without any flaw. Create a pull request with the latest changes. Let not the issue closed until your latest commit gets merged. So many thanks!

![2021-02-20 11_38_23- Plugins

[2021-02-23 10:06] Pinaki82 commented on #142
Hello, @mckellygit and @justmao945! The issue has been fixed. @mckellygit's pull request has been merged with the master branch by @justmao945. I tested it and it's working without any hiccup as far as I experienced. The problem is no longer present in the latest version, to my best knowledge. Many thanks go to both of you! Now anyone of you should proceed to close the issue. Thanks again!!

[2021-02-23 12:56] justmao945 commented on #142
OK, thank you for your testing. 💯

[2021-02-23 12:56] #142 closed

[2021-02-23 17:21] Pinaki82 commented on #142
You're most welcome!

[2021-11-28 22:17] ams-hash opened #143 "When I input std::cout this happens"
A box pops up in vim saying this
[code]